#page {
  border: 1px solid #e5f4f6;
  border-top:0;
}

#header {
  background: transparent url("../images/bg-header.png") top left no-repeat;
}

/* Site name and slogan */
#header .section {
	padding-top: 20px;
}
#name-and-slogan {
  font-family: Helvetica, arial, sans-serif;
  float:left;
}
#site-name {
  margin-top:5px;
  margin-bottom:5px;
  font-size:29px;
  line-height: 29px;
}
#site-name a {
  color:#000000;
}
#site-name a:hover {
  text-decoration:none;
}
#site-slogan {
  text-transform: uppercase;
  color:#999999;
}

/* Search block */
#search-block-form {
  clear:right;
  float:right;
}
#search-block-form input {
  font-style: italic;
  font-family: Georgia, Helvetica, arial, sans-serif;
  font-size: 12px;
  padding: 5px 10px;
}
#search-block-form input.form-submit {
  background: transparent url("../images/search.png") top left no-repeat;
  width:30px;
  height:30px;
  text-indent: -9999px;
  border:0;
}

/* Breadcrumbs */
#breadcrumb {
  padding: 0 20px; 
  background-color: #eaf7fa;
}
#breadcrumb .breadcrumb {
  padding: 3px 0;
  font-family: Georgia, Helvetica, arial, sans-serif;
  font-style: italic;
  font-size:11px;
  color: #0092ab;
}
#breadcrumb .breadcrumb a{
  color: #0092ab;
  padding: 0 5px;
}

/* links */
ul.links {
  clear:both;
}
ul.links li.node_read_more a {
  display:block;
  float:right;
  font-weight: bold;
  font-size: 13px;
  color: #3f3f3f;
  background-color:#b7e1ec;
  padding: 0 5px;
}

/* footer */
#footer-wrapper {
  border-top: 1px dotted #666666;
  border-bottom: 1px dotted #666666;
}
#footer {
  font-family: Georgia, Helvetica, arial, sans-serif;
  font-size: 12px;
  font-style: italic;
  color: #333333;
}

/*
 * Drupal elements
 */
 
/*blocks*/
.block {
  margin-bottom: 10px;
}
.sidebar .block h2 {
  height:40px;
  padding: 0 10px;
  margin-top:0;
  font-weight: bold;
  font-size: 15px;
  line-height: 40px;
}
.block .content {
  padding: 10px;
}
body.front .view-frontpage .block .content {
  height: 244px;
}
.sidebar .block {
  background-color: #edf8fb;
}
.sidebar .block h2 {
  background: transparent url("../images/bg-block-title.png") top left no-repeat;
  color:#ffffff;
}
.sidebar .block a {
  color: #0092ab;
}
/* Specific Views */
.sidebar .block-views {
  font-size: 12px;
}

/* tabs */
.tabs ul.primary {
  border-color:#cccccc;
  height: 21px;
}
.tabs ul.primary a {
  background-color: #d1e6eb;
  padding: 5px 25px;
  color: #0092ab;
}
.tabs ul.primary a.active {
  color: #333333;
}
.tabs ul.secondary {
  border-bottom:0;
}
.tabs ul.secondary a.active {
  border-bottom:0;
}
.tabs ul.secondary a:hover {
  color: #3f3f3f;
}


/*
 * Nodes
 */
.node {
  margin-bottom: 10px;
  padding: 10px 0 20px 0;
  border-bottom: 1px dotted #666666;
}

.node .links {
  float:right;
}
.node .links a {
  color: #cc3300;
  font-size:12px;
  font-weight:bold;
}

/* Taxonomy terms on a node */

.field-type-taxonomy-term-reference {
  background-color:#eaf4dc;
  font-size: 12px;
}
.field-type-taxonomy-term-reference .field-item, .field-type-taxonomy-term-reference .field-items {
  display: inline;

}
.field-type-taxonomy-term-reference .field-label {
	text-transform: uppercase;
  font-weight:bold;
  display: inline;
	padding: 5px;
}

.field-type-taxonomy-term-reference .field-item a {
  font-weight: normal;
  font-style: italic;
  font-family: Georgia, Helvetica, arial, sans-serif;
  color:#2c3033;
	padding: 5px;
}