
/* just for demonstration */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size:14px;
  font-weight: lighter;
  line-height: 1.5em;
}

p {
  color: #333333;
  margin-bottom: 1.5px;
}

h1, h2, h3, h4, h5 {
  color: gray;
  font-weight: normal;
}

a {
  color: #004080;
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:hover {
  color: #0080ff;
}

.form-item label {
  color: #4c4c4c;
  font-style: normal;
  font-weight: normal;
}