body::after {
  background-color: hsla(200, 50%, 50%, 0.4);
  border-top: #336 solid 1px;
  bottom: 0;
  content: "Active stylesheets: reset.css, main.css";
  display: block;
  font-size: x-large;
  margin-top: 18px;
  padding: 17px;
  position: fixed;
  text-shadow: 0px 1px 0px white;
  width: 100%;
}